.main_dashboard {
    flex: 1;
    background: rgba(252, 246, 249, 0.78);
    border: 3px solid #FFFFFF;
    backdrop-filter: blur(4.5px);
    border-radius: 32px;
    overflow-x: hidden;
    width: 70%;
    height: 90vh;
    position: relative;
    left: 400px;
    bottom: 460px;
}

.inner_dashboard{
    padding: 2rem 1.5rem;
    width: 100%;
}