

<angular-vite-header></angular-vite-header>
<div class="area bg-indigo-400 " >
<div class=" gap-8 p-2 w-100 h-100">


    <angular-vite-navigation></angular-vite-navigation>
  
    <router-outlet></router-outlet>
</div>


<!-- 
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul> -->
</div >

