<div class="Navstyle">
    <div class="usercon">
        <img class="avatar" src="https://i1.sndcdn.com/avatars-rX0omUAsYYlCSrCM-ZLRqkw-t500x500.jpg" alt="" />
        <div class="text fade-in-image">
            <h2 class="classh">Gokul</h2>
            <p class="classn">Web Developer</p>
        </div>
    </div>
   
 <ul class="menuitems" *ngFor="let menuitem of menuItems">

    <span>{{menuitem.title}}</span>
 </ul>



    <div className="bottom-nav">
        <li>
 Sign Out
        </li>
    </div>

</div>