<div class="Navstyle">
    <div class="usercon">
        <img class="avatar" src="https://i1.sndcdn.com/avatars-rX0omUAsYYlCSrCM-ZLRqkw-t500x500.jpg" alt="" />
        <div class="text fade-in-image">
            <h2 class="classh">Gokul</h2>
            <p class="classn">Web Developer</p>
        </div>
    </div>
    <mat-list class="menuitems" role="list">
       
        <mat-list-item role="listitem">
         
            <a routerLink="/" routerLinkActive="active"> <mat-icon class="iconstyle">dashboard</mat-icon>Dashboard</a></mat-list-item>
        <mat-list-item role="listitem"> 
            <a routerLink="/" routerLinkActive="active"><mat-icon class="iconstyle">currency_exchange</mat-icon>View Transactions</a></mat-list-item>
        <mat-list-item role="listitem">
            <a routerLink="/income" routerLinkActive="active"> <mat-icon class="iconstyle">price_check</mat-icon>Incomes</a></mat-list-item>
        <mat-list-item role="listitem">
            <a routerLink="/expense" routerLinkActive="active"> <mat-icon class="iconstyle">send_money</mat-icon>Expenses</a></mat-list-item>
        <mat-list-item role="listitem"> <mat-icon class="iconstyle">logout</mat-icon>Sign out</mat-list-item>
      </mat-list>
   




</div>

